@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.body-container{
	overflow: hidden;
	position: relative;
}

/* ==========================================================================
 * main
 * ========================================================================== */


 
/* ==========================================================================
 * question
 * ========================================================================== */

.question{

	&__correct-answer{
		visibility: hidden;
		opacity: 0;
		&--visible{
			visibility: visible;
			opacity: 1;
		}
	}
}
